<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h3 style="color: rgb(162, 84, 44);">Welcome to Contact Us page</h3>
</body>
</html>